.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: safe;
}
.btn:active{
    box-shadow: 2px 2px 8px rgb(65, 65, 186);
}

div h1{
    color: rgb(65, 65, 186);
}

#result{
    color:darkblue;
    margin-top: 20px;
    font-size: 20px;
}